* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  order: 1;
  margin-right: 2%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  height: 500px;
  background-color: orange;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}
