@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
}

header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.trybewarts-login {
  display: flex;
  margin-right: 2%;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}

#trybewarts-forms-logo {
  height: 500px;
}

#familia div {
  display: flex;
  flex-direction: column;
}

#conteudos {
  display: flex;
  flex-direction: column;
}

#agreement-box {
  display: flex;
}

#input-inicial {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form-data {
  display: none;
  width: 675px;
  height: 500px;
}
